In [11]:
# Import dependencies
import pandas as pd
import os

In [27]:
# Assign variables for files to load via indirect path.
movies_csv = os.path.join("ETL_classwork", "movies_metadata.csv")
ratings_csv = os.path.join("ETL_classwork", "ratings.csv")

In [32]:
# Read data and store it in Pandas
# No _df variable until data is satisfactory, then store in DataFrame
kaggle_metadata = pd.read_csv(movies_csv, low_memory=False)
ratings = pd.read_csv(ratings_csv)

In [33]:
kaggle_metadata.sample(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
5714,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,20472,tt0083033,en,Saturday the 14th,Primarily a spoof of the Friday the 13th serie...,...,1981-10-30,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just when you thought it was safe to look at t...,Saturday the 14th,False,5.1,15.0
20991,False,"{'id': 476071, 'name': ""The Devil's Carnival C...",500000,"[{'id': 27, 'name': 'Horror'}]",http://www.thedevilscarnival.com/,100493,tt2204379,en,The Devil's Carnival,Sinners are invited to a theme park where they...,...,2012-04-05,0.0,55.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You can't help but fall.,The Devil's Carnival,False,5.3,33.0
23585,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,28006,tt0038289,en,I See a Dark Stranger,"Determined, independent Bridie Quilty comes of...",...,1946-07-04,0.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The woman hunt is on... For the girl with the ...,I See a Dark Stranger,False,5.1,6.0
29883,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,21625,tt1261047,en,Gulaal,Gulaal is set in Rajpur a fictional city of Ra...,...,2009-03-13,0.0,140.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Gulaal,False,6.7,16.0
32240,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,57857,tt0112667,en,The Christmas Box,"A ski-shop owner reluctantly moves himself, hi...",...,1995-12-17,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Christmas Box,False,4.6,5.0

In [34]:
ratings.sample(5)

          userId  movieId  rating   timestamp
471834      4899      260     3.5  1458284940
5284412    54511     7361     4.5  1147371627
9345719    96563     7438     4.5  1273161534
22759447  236512      541     5.0  1001630706
16759270  174257   158872     5.0  1491608856